@model IEnumerable<Pharmacy_POS.Models.OnPurchaseInvoice>

@{
    ViewData["Title"] = "All_Purchase_Invoice";
}

<h1>All_Purchase_Invoice</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugPriceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEntry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugPriceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEntry)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
