@model Pharmacy_POS.Models.SaleInvoice

@{
    ViewData["Title"] = "Add_Sale";

    IList<Drug> ListItems = ViewBag.ListItems;
    SelectList AllItems = new SelectList(ListItems, "DrugId", "DrugName");

}


<div class="alert alert-success text-center">Manage Sales</div>
@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}
else if (ViewBag.EMessage != null)
{
    <div class="alert alert-warning">@ViewBag.EMessage</div>
}
<h2>Sale Date</h2>
<div class="col-md-6 col-lg-12 col-sm-3">
    <form asp-action="AddSale" id="saleform">
        <input type="hidden" id="objData" name="objData" value="" />

        <label>Sale Date</label>
        <input type="datetime" value="@DateTime.Now.ToShortDateString()" id="saledate" />

        <h2>Drug Detail</h2>

        <div class="row">
            <div class="col-md-6"><label>Drug Detail</label></div>
            <div class="col-md-2"><label>Drug Qty</label></div>
            <div class="col-md-2"><label>Drug Price</label></div>
            <div class="col-md-2"><label>Total Price</label></div>
        </div>
        <div class="row parentdiv">
            <div class="col-md-6">
                @Html.DropDownList("DrugId", AllItems, "Choose an Item", new { @class = "form-control input-sm" })
            </div>
            <div class="col-md-2">
                <input type="number" step="any" id="Qty" value="1" class="form-control input-group-sm qty" />
            </div>
            <div class="col-md-2">
                <input type="number" step="any" id="Price" value="1" class="form-control input-group-sm price" />
            </div>
            <div class="col-md-2">
                <input type="number" readonly step="any" id="TotalPrice" value="0" class="form-control input-group-sm totalprice" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="appenditems"></div>
        <div class="row mt-5">
            <div class="offset-10 col-md-2">
                <a href="#" id="additem" class="btn btn-success btn-sm"> Add More Item</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <a href="#" id="salesubmit" class="btn btn-info btn-sm btn-block"> Add Sale</a>
            </div>
        </div>
    </form>
</div>
<div class="anotheritemdiv" style="display:none;">
    <div class="row parentdiv mt-2">
        <div class="col-md-6">
            @Html.DropDownList("DrugId", AllItems, "Choose an Item", new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Qty" value="1" class="form-control input-group-sm qty" />
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Price" value="1" class="form-control input-group-sm price" />
        </div>
        <div class="col-md-2">
            <input type="number" readonly step="any" id="TotalPrice" value="1" class="form-control input-group-sm totalprice" />
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).on('change', ".qty,.price", function () {
            /*    $(".qty, .price,.totalprice").change(function () {*/
            var closestdiv = $(this).closest(".parentdiv");
            var qty = parseFloat(closestdiv.find("#Qty").val());
            var price = parseFloat(closestdiv.find("#Price").val());

            var total = qty * price;
            closestdiv.find("#TotalPrice").val(total);
        });
        $("#additem").click(function () {
            var html = $(".anotheritemdiv").html();
            $(".appenditems").append(html);
        });
        $(document).on('click', "#salesubmit", function () {
            var drugsarray = new Array();
            $('.parentdiv').each(function () {
                var closestdiv = $(this);
                if (closestdiv.find("#DrugId option:selected").val() != "" && closestdiv.find("#DrugId option:selected").val() != undefined && closestdiv.find("#DrugId option:selected").val() != null) {
                    var obj = {
                        "DrugId": closestdiv.find("#DrugId option:selected").val(),
                        "DrugQuantity": closestdiv.find("#DrugQuantity").val(),
                        "DrugPriceTotal": closestdiv.find("#DrugPriceTotal").val(),
                    }
                    console.log(obj);
                    drugsarray.push(obj);
                }

            });

            var objSale = {
                "SaleDate": $("#saledate").val(),
            }
            var objMain = {
                "objSale": objSale,
                "List_On_Sale": drugsarray,
            }
            var jsonString = JSON.stringify(objMain);
            $("#objData").val(jsonString);
            $("#saleform").submit();
            console.log(FinalSale);
        })

    </script>
}


@*Default Code is Commented
    <h1>Add_Sale</h1>

    <h4>SaleInvoice</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add_Sale">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmpId" class="control-label"></label>
                    <select asp-for="EmpId" class ="form-control" asp-items="ViewBag.EmpId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" class="form-control" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPrice" class="control-label"></label>
                    <input asp-for="NewPrice" class="form-control" />
                    <span asp-validation-for="NewPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
