@model Pharmacy_POS.Models.Drug

@{

    ViewData["Title"] = "Drug_Detail";
    

     
}

<center><h1>Drug Detail</h1></center>

<div> 
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugName)
            
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugCategory)
            
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.DrugCategory)*@
            @ViewBag.Category_Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfUnitsInPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfUnitsInPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPackages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPackages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div class="">
    <a asp-action="Update_Drug" asp-route-id="@Model.DrugId" class="btn btn-info btn-sm">Edit</a> 
    <a asp-action="Delete_Drug" asp-route-id="@Model.DrugId"class="btn btn-danger btn-sm">Delete</a> |
    <a asp-action="All_Drugs" class="btn btn-success btn-sm">Back to List</a>
</div>
